# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=financial_app
DB_PORT=5432

# API Configuration
API_ENVIRONMENT=Production
API_PORT=5000

# UI Configuration
UI_PORT=3000
API_BASE_URL=http://api:5000
